.products-page {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}



.products-filter-sec {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.products-section {
    /* background: red;
    height: 200vh; */
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* position: relative; */
    /* margin-top: 5.6rem; */
    padding: 6.6rem 1rem 5.6rem 1rem;
}

.products-section>div {
    /* width: 280px; */
    display: flex;
    color: #294f71;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 75%;
    margin: 1rem .2rem 0rem .2rem;
    letter-spacing: .1rem;
}

.no-products {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding-top: .5rem;
    color: #677d98;
}

.footer {
    position: absolute;
    bottom: 3.3rem;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
}

.products-sec-heading {
    height: 100%;
    width: 100%;
    background: rgb(227, 238, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(min-width:450px) {
    .products-section>div {
        flex-basis: 40%;
    }

    .no-products {
        font-size: 1.8rem;
    }
}



@media(min-width:800px) {

    .products-filter-sec {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;

    }

    .products-section {
        padding-top: 4.3rem;
        margin-left: 17rem;
    }

    .no-products {
        flex-basis: 80%;
    }


}

@media(min-width:980px) {
    .products-section>div {
        flex-basis: 30%;
    }

}