.footer {
    background: #eef3fc;
    /* position: fixed;
    bottom: 0;
    z-index: 5; */
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.3rem;
}

.footer-socialmedia i {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: #102a42;
}

.footer-socialmedia i:hover {
    color: #328fdb;
}