.btn {
    /* width: 3rem; */
    /* max-width: 6rem; */
    padding: 1rem;
    border-radius: 5px;
    background: #328fdb;
    line-height: .3;
    font-size: .9rem;
    color: aliceblue;
    letter-spacing: .1rem;
}

.btn:hover {
    background: #294f71;
    /* background: #3c71a0 */
}