.btn {
    /* width: 3rem; */
    /* max-width: 6rem; */
    padding: 1rem;
    border-radius: 5px;
    background: #a9d9fe;
    color: #102a42;
    line-height: .3;
    font-size: .9rem;
    letter-spacing: .1rem;

}

.btn:hover {
    background: #294f71;
    color: aliceblue;
}