.saved-address-items {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #e3eef7;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.saved-address-items div {
    display: flex;
    align-items: center;
}

.saved-address-items div svg {
    color: #328fdb;
    height: 1.3rem;
    width: 1.8rem;
    padding-right: 1rem;
}