.navbar {
    background: #eef3fc;
    min-width: 18.75rem;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    letter-spacing: 1px;
    /* border-bottom: solid; */
    /* border-color: #cedbf7 */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

.navbar-center-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* background: #F1F5F8; */
    height: 3.3rem;
    padding: 0rem .5rem;

}

.app-logo {
    width: 50px;
}

.search-section-closed {
    display: flex;
    flex-flow: row;
}

.search-section-1 {
    width: 100vw;
}


.search-bar-1 {
    padding: .5rem;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


.search-icon-1 {
    padding-right: .6rem;
    margin-left: .9rem;
    font-size: 1.1rem;
    color: #102a42;

}

.search-icon-1:hover {
    color: #328fdb;
}


.search-icon-container {
    background: #328fdb;
    border-radius: 30px;
    min-width: 1.6rem;
    min-height: 1.6rem;
    margin-left: .5rem;

}

.search-icon-container i {
    margin-left: .5rem;
    color: white;
    font-size: .7rem;


}

.search-icon-container i:hover {
    color: #102a42;
}

#cross-icon-1 {
    font-size: 1rem;
    margin-right: .5rem;
    margin: auto .5rem;
}

#cross-icon-1:hover {
    color: #328fdb;
}

.search-input-1 {
    border-style: none;
    background: white;
    height: 20px;
    width: 100%;
    padding-top: .5rem;
    padding-left: 1.5rem;
}

.search-input-1:focus {
    outline: none;
}

.hidden {
    display: none;
}


.navbar-center-2 {
    display: none;
}

.navbar-navigation {
    display: flex;
}

.products-page-navigator a {
    padding: .2rem .4rem;
    border-radius: 5px;
    border-style: solid;
    border-color: #102a42;
    color: #102a42;
    font-weight: bold;
    margin-right: .8rem;
    text-decoration: none;
}


.products-page-navigator a:hover {
    color: #328fdb;
    border-color: #328fdb;
}

@media (min-width: 400px) {
    .navbar-center-1 {
        padding: 0rem 2rem;
    }

    .products-page-navigator a {
        margin-right: 0;
    }

    .search-icon-1 {
        padding-right: 0;
    }
}

@media (min-width: 600px) {

    .navbar-center-1 {
        padding: 0 3rem;
    }

    .search-icon-1 {
        margin-left: 1.5rem;
        font-size: 1.3rem;
        padding-right: 0;
    }


    .search-icon-container i {
        font-size: .7rem;
    }

}