.navigation-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-icons i {
    margin-left: .9rem;
    font-size: 1.1rem;
    color: #102a42;

}

.navigation-icons i:hover {
    color: #328fdb;
}

.hidden {
    display: none;
}



@media (min-width: 600px) {
    .navigation-icons i {
        margin-left: 1.5rem;
        color: #102a42;
        font-size: 1.3rem;
    }
}